<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.himpunanapplikasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_teamwork"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_teamwork_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HimpunanApplikasi">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity">
            android:parentActivityName="com.learn.himpunanapplikasi.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.learn.himpunanapplikasi.MainActivity" />
        </activity>
        <activity android:name=".OptionsMenuActivity" />
        <activity android:name=".About_Activity" >
            android:parentActivityName="com.learn.himpunanapplikasi.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.learn.himpunanapplikasi.MainActivity" />
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>